@import "tailwindcss";

@theme {
  --color-green: #00e67b;
  --color-white: #dcd8d3;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-mono-font-feature-settings: "ss09" on;
}
