@import "tailwindcss";

@theme {
  --color-green: #00e67b;
  --color-white: #dcd8d3;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-mono-font-feature-settings: "ss09" on;
}

html {
  @apply bg-white scroll-smooth;
}

body {
  @apply font-mono text-sm;
}

header {
  a {
    @apply transition-opacity duration-300 ease-in-out;
  }
}

header:has(a:hover) a:not(:hover) {
  @apply opacity-25;
}

.cta {
  @apply leading-tight p-4 hover:underline focus:outline-none focus-visible:bg-black focus-visible:text-white;

  &.primary {
    @apply bg-green focus-visible:bg-black;
  }

  &.invert {
    @apply bg-black text-white focus-visible:bg-transparent focus-visible:text-black;
  }

  &.mute {
    @apply opacity-50 hover:opacity-100 focus-visible:opacity-100;
  }

  &.outline {
    @apply border-[1.5px] border-black;
  }
}

.bounded {
  @apply mx-auto xl:mr-0 max-w-[60ch] xl:max-w-2/5 px-8 xl:px-4 py-16;
}

.rich-text {
  & > h1 {
    @apply font-sans font-bold leading-none text-[max(3rem,5vw)];
  }

  & > h2 {
    @apply font-sans font-bold leading-none text-[max(1.875rem,2.5vw)];
  }

  & > h3 {
    @apply font-sans font-bold leading-none text-[max(1.25rem,1.25vw)];

    &:not(:first-child) {
      @apply mt-16;
    }
  }

  & > p,
  & > ul,
  & > ul > li,
  & > dl {
    @apply max-w-[40ch];

    &:not(:first-child) {
      @apply mt-4;
    }
  }

  & > dl > div {
    @apply flex justify-between;
  }

  & > p,
  & > ul > li,
  & dd {
    & > a {
      @apply underline focus:outline-none focus-visible:bg-black focus-visible:text-white;
    }
  }
}
